.cont {
  width: 80%;
  margin: auto;
}
.boxesimg {
  opacity: 0.3;
  position: absolute;
  /* top: -4px; */
  animation: boxmove infinite 5s linear;
}

.boxesimg2 {
  opacity: 0.6;
  position: absolute;
  /* top: -4px; */
}

.makeitcentre {
  margin-top: 15%;
}

.myimg {
  margin-top: -45px;
  filter: saturate(0.3);
  box-shadow: 9px 7px 1px 4px grey;
  transition: 0.5s;
}
.myimg:hover {
  filter: saturate(1);
  box-shadow: 13px 14px 1px 4px grey;
}

@keyframes boxmove {
  0% {
    width: 95%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .myimg {
    display: none;
  }
  .cont {
    width: 85%;
  }
}

@media screen and (max-width: 782px) {
  .boxesimg,
  .boxesimg2 {
    display: none;
  }
}
