@media screen and (min-width: 800px) {
  .fz-13 {
    font-size: 1.3rem;
    padding-left: 1.2rem !important;
  }
}

.active {
  color: black;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 4px solid;
}

.nactive {
  cursor: pointer;
  font-weight: bold;
  color: grey;
}
.nactive:hover {
  color: darkgray;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 30%;
  border: 3px solid grey;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.skills {
  font-size: 1.2rem;
  border: 2px solid black;
  background-color: #ffffff1f;
  width: fit-content;
  padding: 0px 5px 0px 5px;
  /* border-radius: 6px; */
}

.aboutpara {
  /* background: #efefef; */
  padding: 30px 30px 26px 35px;
  font-size: 1.1em;
  text-align: justify;
  color: #c4c4c4;
}

.aboutpara2 {
  background: #efefef;
  padding: 10px 15px 10px 15px;
  font-size: 1.1rem;
}

.education {
  background: whitesmoke;
  padding: 4px;
}

.ic {
  color: grey;
}
.projects {
  border: 1px solid #aaaaaa;
  /* border-radius: 4px; */
  padding: 10px;
  background: whitesmoke;
  transition: 0.3s;
  cursor: pointer;
}
.projectimg {
  transition: 0.4s;
  filter: grayscale(1);
}

.projects:hover .projectimg {
  filter: grayscale(0);
}

.projects:hover {
  /* border: none; */
  box-shadow: 3px 3px 1px 2px gainsboro;
}

.blackbutton {
  color: white;
  background: black;
  border: none;
  padding: 3px 6px 3px 6px;
}

.sticknav {
  width: fit-content;
  position: sticky;
  top: 10px;
  background: white;
  z-index: 3;
}
