@media screen and (min-width: 800px) {
  .fz-13 {
    font-size: 1.3rem;
    padding-left: 1.2rem !important;
  }
}

.active {
  color: black;
  cursor: pointer;
  border-bottom: 2px solid;
}

.nactive {
  cursor: pointer;
  color: grey;
}
.nactive:hover {
  color: darkgray;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 30%;
  border: 3px solid steelblue;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.skills {
  font-size: 1.2rem;
  border: 2px solid black;
  background-color: #ffffff1f;
  width: fit-content;
  padding: 0px 5px 0px 5px;
  border-radius: 6px;
}
