@media screen and (min-width: 800px) {
  .fz-13 {
    font-size: 1.3rem;
    padding-left: 1.2rem !important;
  }
}

.active {
  color: black;
  cursor: pointer;
  border-bottom: 2px solid;
}

.nactive {
  cursor: pointer;
  color: grey;
}
.nactive:hover {
  color: darkgray;
}
