html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  /* overflow-x: hidden; */
}

html {
  overflow-x: hidden;
}
.hero-background {
  background-color: var(--background-primary);
  height: 100vh;
}
.whitebg {
  background-color: white;
  height: 100vh;
}
.movedown {
  bottom: 0px;
  position: absolute;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* text-align: center; */
}
.fontsz-15 {
  font-size: 2rem;
}
.fs14{
  font-size: 1.4rem;
}
.fontsz-13 {
  font-size: 1rem;
}
.footerdiv {
  margin-bottom: 0px;
  background: whitesmoke;
  color: black;
  position: absolute;
  width: -webkit-fill-available;
  text-align: center;
}

.dash {
  width: 37px;
  height: 10px;
  background: #a5a5a5;
}

.visible{
  transition: 0.4s;
  display: block;
}
.hidden{
  transition: 0.4s;
  display: none;
}
.nav-links {
  justify-content: end;
  flex: 1;
  margin: auto;
}
.nav-links-bottom {
  justify-content: center;
}
.bottomDiv{
  position: absolute;
  bottom: 0;
  border-top: 1px solid #495057;
  background: #1d1f21;
  width: -webkit-fill-available;
  padding-bottom: 12px;
  padding-top: 14px;
}
.bottomFixed{
  position: fixed !important;
  bottom: 0px;
}
.borderbottom{
  border-bottom: 4px solid var(--text-primary) !important;
}
.clicks{
  cursor: pointer;
}

body{
  background: var(--background-primary);
}

.showOnMobile{
  display: none;
}

.showOnDesktop{
  display: none;
}

@media screen and (max-width: 600px) {
  .showOnMobile{
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .showOnDesktop{
    display: block;
  }
}