html,
body {
  height: 100%;
  margin: 0;
  /* overflow-x: hidden; */
}

html {
  overflow-x: hidden;
}
.greybg {
  background-color: whitesmoke;
  height: 100vh;
}
.whitebg {
  background-color: white;
  height: 100vh;
}
.movedown {
  bottom: 0px;
  position: absolute;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* text-align: center; */
}
.fontsz-15 {
  font-size: 2rem;
}
.fontsz-13 {
  font-size: 1rem;
}
.footerdiv {
  margin-bottom: 0px;
  background: whitesmoke;
  color: black;
  position: absolute;
  width: -webkit-fill-available;
  text-align: center;
}
