:root {
    --background-primary: #000000;
    --background-secondary: #23006F;
    --text-primary: #8E58FF;
    --text: #ffffff;
    --text-off: #b0b0b0;
    --text-primary-offset: #ff3d6a;
    --text-secondary: #ffffff;
}

.primary-text{
    color: var(--text-primary);
}

.off-text{
    color: var(--text-off);
}

.secondary-text{
    color: var(--text-secondary);
}

body{
    color: var(--text);
}